services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    ports:
      - "8000:8000"
      - "9443:9443"
    networks:
      - portainer-network
    environment:
      - PORTAINER_SSL=false
      - AGENT_PORT=8001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    user: "0:0"
    restart: unless-stopped

networks:
  portainer-network:
    driver: bridge

volumes:
  portainer_data:
